{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css' ) }}">
{% endblock %}

{% block main %}
<div class="shouye">
    <div class="btn-group-justified text-center w" role="group" aria-label="..." >
          <div class="btn-group" role="group">

                <div class="list-group">
                    <a href="#" class="list-group-item active">生产环境</a>
                    <a href="http://106.14.147.188/calsmq" target="_blank" class="list-group-item">RocketMQ</a>
                    <a href="http://106.14.147.188/logs/" target="_blank" class="list-group-item">Get_logs</a>
                    <a href="http://192.168.10.155:8080/jenkins/" target="_blank" class="list-group-item">Jenkins</a>
                    <a href="http://106.14.147.188:81" target="_blank" class="list-group-item">Zabbix</a>
                    <a href="http://106.14.147.188/app/kibana" target="_blank" class="list-group-item">ELK</a>
                </div>

          </div>
    </div>
    <div class="btn-group-justified text-center w" role="group" aria-label="...">
          <div class="btn-group" role="group">

                <div class="list-group " >
                    <a href="#" class="list-group-item active">预发布环境</a>
                    <a href="http://10.100.2.200" target="_blank" class="list-group-item">hybjf-首页</a>
                    <a href="http://10.100.2.112:8081/admin/login.html" target="_blank" class="list-group-item">hybjf-后台</a>
                    <a href="http://10.100.2.200/wx" target="_blank" class="list-group-item">hybjf-微信</a>
                    <a href="http://10.100.2.105:9898" target="_blank" class="list-group-item">RocketMQ</a>
                    <a href="http://10.100.2.105/zabbix/" target="_blank" class="list-group-item">Zabbix</a>
                    <a href="http://10.100.2.113:5601/app/kibana" target="_blank" class="list-group-item">ELK</a>
                </div>

          </div>
    </div>
    <div class="btn-group-justified text-center w" role="group" aria-label="...">
          <div class="btn-group" role="group">

                <div class="list-group ">
                    <a href="#" class="list-group-item active">测试环境</a>
                    <a href="http://192.168.10.233:9898/" target="_blank" class="list-group-item">RocketMQ</a>
                    <a href="http://192.168.10.219:8080/jenkins/" target="_blank" class="list-group-item">Jenkins</a>
                    <a href="http://192.168.10.150:5601/app/kibana" target="_blank" class="list-group-item">ELK</a>
                </div>
          </div>
    </div>



    <div class="btn-group-justified text-center w" role="group" aria-label="...">
          <div class="btn-group" role="group">

                <div class="list-group .list-inline ">
                    <a href="#" class="list-group-item active">其它</a>
                    <a href="http://192.168.10.241:800/" target="_blank" class="list-group-item">GitLab</a>
                    <a href="http://192.168.10.219:9000/" target="_blank" class="list-group-item">SonarQube</a>
                    <a href="http://192.168.10.210:8080" target="_blank" class="list-group-item">JIRA</a>
                    <a href="http://192.168.10.210:8090" target="_blank" class="list-group-item">Confluence</a>
                    <a href="http://106.14.147.188:82" target="_blank" class="list-group-item">Grafana</a>
                    <a href="https://10.100.1.240/login" target="_blank" class="list-group-item">深信服</a>

                </div>

          </div>
    </div>
</div>

{% endblock %}